<section class="h-100 h-custom" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <h6 class="mb-0 text-muted">items</h6>
                                    </div>
                                    <hr class="my-4">

                                    {{#each products}}
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="/images/{{filename}}" class="img-fluid rounded-3"
                                                alt="product">
                                        </div>
                                        <div class="col-md-5 col-lg-5 col-xl-5">
                                            <h6 class="text-muted">{{prod_name}}</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 d-flex">

                                            <input id="form1" min="0" name="quantity" value="1" type="number"
                                                class="form-control form-control-sm" />
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 offset-lg-1">
                                            <h6 class="mb-0">${{price}}</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 offset-lg-1">

                                            <button type="button" class="btn btn-dark btn-block btn-lg" data-id="{{id}}"
                                                data-mdb-ripple-color="dark"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                    {{/each}}

                                    <hr class="my-4">

                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="/products" class="text-body">Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <h5 class="text-uppercase mb-3">Payment</h5>
                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Please select a payment method</option>
                                            <option value="2">Credit Card</option>
                                            <option value="3">PayPal</option>
                                            <option value="4">Ben Bucks</option>
                                        </select>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>
                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Please select a shipping method</option>
                                            <option value="2">Standard Delivery - FREE</option>
                                            <option value="3">2nd Day Air</option>
                                            <option value="4">Next Day Air - Not Available</option>
                                        </select>
                                    </div>

                                    <hr class="my-4">

                                    <button type="button" id="#checkout-feed" class="btn btn-dark btn-block btn-lg"
                                        data-mdb-ripple-color="dark" checkout-data-user-id="{{user_id}}">Place Order
                                        </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



