<p>ORDER ROUTE</p>
<h3> {{order.id}}</h3>
<h3> {{order.status}}</h3>
<h3> {{order.user_id}}</h3>

<p>USER ROUTE</p>
<h3> {{order.user.email}}</h3>
<h3> {{order.user.id}}</h3>
<h3> {{order.user.user_name}}</h3>

<p>PRODUCT ROUTE</p>
<h3> {{order.products.prod_name}}</h3>