<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{products.prod_name}}</h3>

            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="/images/{{products.filename}}" class="img-responsive"
                            height="400px" width="400px"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-2">Product Description</h4>
                    <p>{{products.prod_description}}</p>
                    <div class="d-flex flex-row">
                        <div class="text-danger mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <h2 class="mt-5">
                        ${{products.price}}<small class="text-success"></small>
                    </h2>
                    <button class="btn btn-primary btn-rounded">Add to Cart</button>
                    <div class="pt-2">
                        <h6 class="mb-0"><a href="/products" class="text-body">Back to shop</a></h6>
                    </div>
                    <h3 class="box-title mt-5">Features</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>{{products.feature1}}</li>
                        <li><i class="fa fa-check text-success"></i>{{products.feature2}}</li>
                        <li><i class="fa fa-check text-success"></i>{{products.feature3}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- testimonial --}}
<section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded" style="background-image: url(/images/background-testimonial.avif);">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="/images/{{products.testimonial_filename}}"
                class="rounded-circle img-fluid shadow-1" alt="avatar" width="200" height="200" />
            </div>
            <div class="col-lg-8">
              <p class="fw-light mb-4">
                <h3 class="fw-bold mb-4">Featured Testimonial</h3>
                {{products.testimonial}}
              </p>
              <p class="fw-bold lead mb-2"><strong>{{products.testimonial_name}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- review section --}}
<<section style="color: #000; background-color: #f3f2f2;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 class="fw-bold mb-4">Reviews</h3>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                    Check out what other users have to say about this product.
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="/images/review1.avif" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 190px; height: 265px; z-index: 1">
                        </div>
                        <h5 class="font-weight-bold">Hannah</h5>
                        <p class="mb-2">
                        <p></i>eh... it's okay I guess.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="/images/review2.avif" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 180px; z-index: 1">
                        </div>
                        <h5 class="font-weight-bold">SuperCorgi</h5>
                        <p class="mb-2">
                        <p>bark...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="/images/review3.avif" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 180px; z-index: 1">
                        </div>
                        <h5 class="font-weight-bold">Franklin</h5>

                        <p class="mb-2">
                        <p>How did I even end up on this website???</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    