<section class="h-100 gradient-custom-2">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: rgb(0, 0, 0); height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="{{userInfo.profile_image}}" alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 120px; z-index: 1">
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{userInfo.user_name}}</h5>
              <p>{{userInfo.city}}</p>
            </div>
          </div>
          <div class="p-1 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class="px-3">
                <p class="mb-1 h5">{{countVisit}}</p>
                <p class="small text-muted mb-0">Profile Views</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{userInfo.id}}</p>
                <p class="small text-muted mb-0">Member #</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">4</p>
                <p class="small text-muted mb-0">Items</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-2">
              <p class="lead fw-normal mb-1">Bio</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{userInfo.bio}}</p>
                <p class="font-italic mb-1">{{userInfo.order_id}}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Collection</p>
            </div>
            <div class="glide">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="glide__slide">
                    <img src="/images/1-2.png" alt="image 1" class="w-100 rounded-3">
                  </li>
                  <li class="glide__slide">
                    <img src="/images/3-2.png" alt="image 1" class="w-100 rounded-3">
                  </li>
                  <li class="glide__slide">
                    <img src="/images/3-3.png" alt="image 1" class="w-100 rounded-3">
                  </li>
                  <li class="glide__slide">
                    <img src="/images/3-4.png" alt="image 1" class="w-100 rounded-3">
                  </li>
                  <li class="glide__slide">
                    <img src="/images/3-5.png" alt="image 1" class="w-100 rounded-3">
                  </li>
                </ul>
              </div>
              <div class="glide__bullets" data-glide-el="controls[nav]">
                <center>
                  <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                  </div>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  new Glide('.glide', {
    type: 'carousel',
    perView: 3,
    focusAt: 'center',
    gap: 20,
  }).mount()
</script>